{% extends 'base.html' %}
{% block body %}

    <h1>Market Notices</h1>

    <div class="container-fluid table-hover">

        <div class="row event-title">
            <h3>2017</h3>
        </div>
        <div class="row event-item">
            Trading Hour Schedule for the Australia Public Holiday on 12th June 2017
        </div>
        <div class="row event-item">
            Trading Hour Schedule for the German Public Holiday on 5th June 2017
        </div>
        <div class="row event-item">
            Trading Hour Schedule for the Hong Kong Public Holiday on 30th May 2017
        </div>
        <div class="row event-item">
            Trading Hour Schedule for the US Memorial Day & UK Spring Bank Holiday on 29th May 2017
        </div>
        <div class="row event-item">
            Trading Hour Schedule for the Hong Kong Public Holiday on 3rd May 2017
        </div>
        <div class="row event-item">
            Trading Hour Schedule for ANZAC Day on 25th April
        </div>
        <div class="row event-item">
            Trading Hour Schedule for the 2017 Easter Holiday Period
        </div>
        <div class="row event-item">
            Trading Hour Schedule for the Hong Kong Public Holiday on 4th April 2017
        </div>
        <div class="row event-item">
            Trading Hour Schedule due to the start of Daylight Savings Time
        </div>
        <div class="row event-item">
            Trading Hour Schedule for US President's Day on 20th February 2017
        </div>
        <div class="row event-item">
            Trading Hour Schedule for the Lunar New Year Holiday Period on 27th – 31st January 2017
        </div>
        <div class="row event-item">
            Trading Hour Schedule for US Martin Luther King Day on 16th January 2017
        </div>

        <div class="row event-title">
            <h3>2016</h3>
        </div>
        <div class="row event-item">
            LMAX Trading Hour Schedule for the 2016 Christmas and New Year Holiday Period
        </div>
        <div class="row event-item">
            LMAX Trading Hour Schedule for the 2016 US Thanksgiving Holiday Period
        </div>
        <div class="row event-item">
            LMAX Trading Hour Schedule due to the end of Daylight Savings Time
        </div>
        <div class="row event-item">
            LMAX Trading Hour Schedule for US Columbus Day & the Hong Kong Public Holiday on 10th October 2016
        </div>
        <div class="row event-item">
            Trading Hour Schedule for the Hong Kong Public Holiday on 3rd May 2016
        </div>
        <div class="row event-item">
            Trading Hour Schedule for ANZAC Day on 25th April
        </div>
        <div class="row event-item">
            Trading Hour Schedule for the 2017 Easter Holiday Period
        </div>
        <div class="row event-item">
            Trading Hour Schedule for the Hong Kong Public Holiday on 4th April 2016
        </div>
        <div class="row event-item">
            Trading Hour Schedule due to the start of Daylight Savings Time
        </div>
        <div class="row event-item">
            Trading Hour Schedule for US President's Day on 20th February 2016
        </div>
        <div class="row event-item">
            Trading Hour Schedule for the Lunar New Year Holiday Period on 27th – 31st January 2016
        </div>
        <div class="row event-item">
            Trading Hour Schedule for US Martin Luther King Day on 16th January 2016
        </div>

    </div>

{% endblock %}